<body>
<div class="container">
  <div class="column">
    <p>Lorem ipsum dolor sit amet, consectetur</p>
  </div>
  <div class="column">
    <h2>Recursos</h2>
    <ul>
      <li>Nuestros Agentes</li>
      <li>Historias de Miembros</li>
      <li>Video</li>
      <li>Prueba Gratis</li>
    </ul>
  </div>
  <div class="column">
    <h2>Compañia</h2>
    <ul>
      <li>Aliados Estrategicos</li>
      <li>Terminos de Uso</li>
      <li>Privacidad</li>
      <li>Ayuda</li>
    </ul>
  </div>
  <div class="column">
    <h2>Mantener contacto</h2>
    <input type="email" placeholder="Ingresa tu email">
  </div>
</div>
</body>
