<div class="container">
  <div class="column">
    <img id = 'descripcion1' src="assets/Descripcion1.jpg" alt="Imagen 1">
  </div>
  <div class="column">
    <img id = 'logo' src="assets/logo.png" alt="Imagen 2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porttitor fermentum velit, sit amet pulvinar diam suscipit eget. Donec porta mattis felis auctor commodo. Quisque porttitor, est ut rhoncus finibus, ipsum magna vulputate velit, at tempor mi felis in tellus. Praesent condimentum leo in nisi varius tempus. Praesent nec enim eu diam vulputate mollis sed vel metus. Curabitur posuere nunc vitae felis tempus, aliquet fermentum tellus tempor. Aliquam sodales ornare volutpat. Pellentesque turpis nunc, bibendum in nibh gravida, rhoncus convallis arcu. Nam nec purus vehicula, convallis mauris nec, posuere libero. Quisque fermentum mollis nisi et elementum. Curabitur aliquam purus eget.</p>
    <div class="inferior">
      <button class="contactanos">Contactanos</button>
      <span><a href="https://www.google.com" target="_blank">Ver video</a></span>
    </div>
  </div>
  <div class="column">
    <img id = 'descripcion2' src="assets/Descripcion2.jpg" alt="Imagen 3">
  </div>
</div>
