<h1>Precios</h1>
<div class="container">
  <div class="section">
    <h2>Para principiantes</h2>
    <p>$19</p>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
    </ul>
    <button>Solicitar Demo</button>
  </div>
  <div class="section">
    <h2>Para equipos</h2>
    <p>$29</p>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
    </ul>
    <button>Solicitar Demo</button>
  </div>
  <div class="section">
    <h2>Para compañias</h2>
    <p>Personalizado</p>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
    </ul>
    <button>Solicitar Demo</button>
  </div>
</div>
